<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/insert.css">
    <title>{{#if_eq act 'update'}}Изменение{{else}}Добавление{{/if_eq}}</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="/js/javascript.js"></script>
</head>
<body onload="selectModel({{id_model}}); selectAgency({{id_agency}});  setMenu('contracts')">
    <div id="header">
    <div id="header_name"><a href="/main">{{{agency_name}}}</a></div>
    <ul id='menu'>{{{mainmenu}}}</ul>
    </div>
    <div id="page_content">
        <form method="POST" action={{#if_eq act 'update'}}"/update?table_name=contracts&act=update"{{else}}"/insert?table_name=contracts"{{/if_eq}} 
            onSubmit="return confirm('Подтвердите {{#if_eq act 'update'}}изменение{{else}}добавление{{/if_eq}}');">

            <input name="id" class="hidden" value={{id}}>
            <table>
                <tr>
                    <td>Модель<span class="red">*</span>:</td>
                    {{#if models}}<td><select name="model" class="str radius" id="model" required><option></option>{{#each models}}
                    <option value="{{id}}">{{surname}} {{name}} {{patronymic}}, {{model_name}}</option>
                    {{/each}}</select></td>{{/if}}
                </tr>
                <tr>
                    <td>Агентство<span class="red">*</span>:</td>
                    {{#if agencies}}<td><select name="agency" class="str radius" id="agency" required><option></option>{{#each agencies}}
                    <option value="{{id}}">{{name}}, {{country}}, {{city}}</option>
                    {{/each}}</select></td>{{/if}}
                </tr>
                <tr>
                    <td>Начало<span class="red">*</span>:</td>
                    <td><input type="date" name="c_start" class="input_short" required value={{c_start}}></td>
                </tr>
                <tr>
                    <td>Конец<span class="red">*</span>:</td>
                    <td><input type="date" name="c_end" class="input_short" required value={{c_end}}></td>
                </tr>
                <tr>
                    <td>Гарантия:</td>
                    <td><textarea name="guarantee" rows="3" maxlength="150" class="str">{{guarantee}}</textarea></td>
                </tr>
                <tr>
                    <td>Прибыль(руб):</td>
                    <td><input name="income" class="input_short" type="number" min="0" value={{income}}></td>
                </tr>
                <tr>
                    <td><input type="reset" class="hover" value="{{#if_eq act 'update'}}Вернуть{{else}}Очистить{{/if_eq}}"></td>
                    <td><button>{{#if_eq act 'update'}}Изменить{{else}}Добавить{{/if_eq}}</button></td>
                </tr>
            </table>
        </form>
        <br><span class="red">*</span> - обязательно для заполнения
    </div>
</body>
</html>