<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/insert.css">
    <title>Добавление</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="/js/javascript.js"></script>
</head>
<body>
    <div id="header">
    <div id="header_name"><a href="/main">{{{agency_name}}}</a></div>
    <ul id='menu'>{{{mainmenu}}}</ul>
    </div>
    <div id="page_content">
        <h1>Успешно {{#if_eq act 'update'}}изменено{{else}}добавлено{{/if_eq}}!</h1>
        {{#if_eq act 'update'}}{{else}}<li><a href='/insert?table_name={{table_name}}'>Добавить еще</a></li>{{/if_eq}}
        <li><a href='/{{table_name}}'>Вернуться к списку</a></li>
    </div>
</body>
</html>